
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

p {
    margin-top: 20px;
}


header {
    background: #FFF600;
    padding: 20px;
    margin: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    margin: 10px;
}

section h2 {
    margin-bottom: 0px;
}

.logout-button {
    background-color: #FF69B4;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-button:hover {
    background-color: #882657;  
}

label p{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

label input {
    margin-bottom: 10px;
    width: 225px;
    height: 40px;
}

label textarea {
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
}

section hr {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
}
